@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic');
body {
	font-family: 'Open Sans', sans-serif;
	color: #333333;
}
h1 {
	font-weight: 600;
	text-align: center;
	color: #202020;
	font-size: 26px;
	margin: 15px 0;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 22px;
	text-align: center;
	color: #5b5b5b;
	margin: 10px 0;
}
a {
	text-decoration: underline;
	color: #202020;
}
footer {
	text-align: center;
	padding: 20px 0;
}